@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

@{
    ViewBag.Title = "Employee List";
}

  <script type="text/javascript" src="http://code.jquery.com/jquery-1.7.1.min.js"> </script>

<div class="card-deck">

    <div class="card m-3">
        <div class="card-header">
            <h3>Name</h3>
        </div>
        <img class="card-img-top" src="~/images/noimage.jpg" />
        <div class="card-footer text-center">
            <a href="#" class="btn btn-primary">View</a>
            <a href="#" class="btn btn-primary">Edit</a>
            <a href="#" class="btn btn-danger">Delete</a>
        </div>
    </div>

</div>

<table class="table table-striped" id="myTable" runat="server">

    <thead class="thead-dark">

        <tr>
            <th scope="col"> SNo </th>
            <th scope="col"> First</th>
            <th scope="col"> Last </th>
            <th scope="col">middle </th>


        </tr>
    </thead>

    <tbody>

        <tr>
            <th scope="row">1   </th>
            <td>mark </td>
            <td>otto </td>
            <td>high </td>
        </tr>

        <tr>
            <th scope="row">2  </th>
            <td>meena </td>
            <td>otto </td>
            <td>high </td>
        </tr>

        <tr>
            <th scope="row">3</th>
            <td>Lary </td>
            <td>the bird </td>
            <td>twitter </td>
        </tr>

    </tbody>

</table>

<script type="text/javascript">
     
</script>

